/* ***************CSS COMMUN***************/
body {
    font-family: font-family: 'Spartan', sans-serif;
    font-weight:400;
}

h1, h2, .first-color {
    color: #13a89e;
}
.logo {
    width: 200px;
}
.second-color  {
    color:#ed126a
}
.bg-first-color {
    background-color:#13a89e
} 
.bg-second-color {
    background-color:#ed126a
}
hr {
    width:20%; 
    margin: 50px auto;
}
/* ***************CSS HOME ***************/
.carousel-caption {
    background: rgba(181, 217, 215, 0.7);
    left:0;
    right:0;
    bottom:0;
    padding: 10px 0;
}
.garanties{
    max-width: 720px;
}
/* caroussel home marques*/ 
#carousel-2 {
    margin: auto;
    width:340px;
    height:260px;
  }